body {
	/*background: url(../img/steps.jpg) no-repeat center center fixed; 
	background-size: cover;*/
}


#sideNav {
	position: fixed;
	right: 90%;
	display: none;
	opacity: .8;

}

.sideCircle:first-child {
	margin-top: 20%;
}

.sideCircle {
	width: 80px;
	height: 80px;	
	border-radius: 40px;
	background-color: #5DBAD4;
	color: white;
	text-align: center;
	line-height: 80px;
	font-family: "Dr Sugiyama", cursive;
	font-size: 30px;
	margin-bottom: 50%;
}

#sideNav a{
	color: white;
	text-decoration: none;
	display: block;
}

#sideNav a:hover{
	color: black;
}


#header{
	font-family: "Vast Shadow", cursive;
	color: black;
	font-size: 50px;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 150px;
}

#inner {
	background-color: white;
	opacity: .8;
	width: 70%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 30px;
	border:  solid 5px #5DBAD4;
	overflow: hidden;

	
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 100px;
	margin: 0 25px;
	float: left;
	font-family: "Dr Sugiyama", cursive;
	font-size: 30px;
}

.circle:first-child {
	margin-left: 0px;
}

.circle:last-child{
	margin-right: 0px;
}


.clearfix:after {

     visibility: hidden;
     display: block;
     font-size:0;
     content:" ";
     clear:both;
  	 height: 0;
 }

#topNav {
	width: 550px;
	margin: 40px auto;
}

#topNav a{
	color: white;
	text-decoration: none;
	display: block;
}
#topNav a:hover{
	color: #5DBAD4;
}

#stickyheader {
	width: 780px;
	margin: 0 auto;
	background-color: white;
	height: 100px;
	padding-bottom: 20px;

	
}

#stickyalias {
	display: none;
	height: 10px;
}

#othercontent {
	margin-top: 20px;
}

#left{
	float: left;
}

#player iframe{
	width: 300px;

}

#fbLikeBox {
	margin: 20px 0 20px 20px;
	height: 70px;
}
#right {
	margin-left: 380px;
}

h2 {
	font-family: "Dr Sugiyama", cursive;
	font-size: 36px;
	margin-bottom: 10px;
}


#bio {
	height: 480px;
	overflow: scroll;
	border: 2px solid #5DBAD4;
	font-size: 16px;
	font-family: "Fauna One", serif;
	padding-top: 15px;
	line-height: 2em;
}

#bio p{
	padding: 0 10px;
}


#videos {
	margin-top: 50px;
	position: relative;
	margin-bottom: 500px;

}


#shows {
	height: 500px;
}

#contact {
	height: 500px;

}

#displayVideo{
	position: relative;
}


#smaller img {
	margin: 10px 10px;
	width: 100px;
	height: 100px;
	border: 2px solid #5DBAD4;
	float:left;
	position: relative;
}

#play{
	width: 20px;
	height: 20px;
	position: relative;
}



#displayVideo img:hover{
	opacity: .8;

}



#display img{
	width: 250px;
	height: 200px;
	margin: 0 auto;
	float: left;
	position: absolute;
	right: 6%;
	margin-top: 100px;
	border: 2px solid #5DBAD4;

}

#smaller {
	position: absolute;
	right: 40%;
	left: 0%;
	margin-top: 50px;
}



#videoTitle {
	height: 60px;
}

#videoTitle h2 {
	font-family: "Fauna One", serif;
	text-align: center;
	font-size: 22px;
}



#shows {
	height: 400px;
	position: relative;
	margin-bottom: 100px;
}

#pastShows h3, #upcoming h3 {
	font-family: "Fauna One", serif;
	font-size: 20px;


}

#upcoming{
	margin: 0 auto;
	margin-top: 30px;
	position: absolute;
	margin-bottom: 30px;
	left: 60px;
}

#pastShows{
	margin: 0 auto;
	margin-top: 150px;
	position: absolute;
	left: 100px;
	}


#upcoming h3, #pastShows h3{
	margin-bottom: 10px;
}

#pastShows ul li, #upcoming ul li{
	font-family: "Fauna One", serif;
	font-size: 18px;
	line-height: 30px;
	list-style-type: none;
}

#gallery {
	margin: 0 auto;
}

#galleryThumbs {
	width: 60%;
	margin: 30px auto;
}


#galleryThumbs a img {
	margin: 15px auto;
	width: 100px;
	height: 100px;
	border: solid 2px #5DBAD4;
}

#galleryThumbs a img:hover {
	opacity: .4;
}
#footer {
	background-color: black;
	height: 30px;
	width: 70%;
	position: relative;
	margin: 0 auto;
	opacity: .8;
	padding: 0 30px;
	border: 5px solid black;
	
}

#footer a {
	color: white;
	font-family: "Fauna One", serif;
	font-size: 22px;
	position: absolute;
	right: 350px;
	top: 5px;
	text-decoration: none;
	border-bottom: 2px solid white;
}

#footer h4{
	color: #dddddd;
	font-family: "Fauna One", serif;
	font-size: 8px;
	position: absolute;
	right: 5px;
	bottom: 1px;
	text-decoration: none;
}

#contactBox {
	width: 80px;
	height: 60px;
	border-radius: 10px;
	opacity: .8;
	background-color: #5DBAD4;
	position: fixed;
	left: 90%;
	bottom: -60px;
	opacity: .8;
	line-height: 60px;
	text-align: center;
}

#contactBox:hover{
	background-color: black;
	cursor: pointer;
	cursor: hand;
}

#contactBox a {
	font-family: "Fauna One", serif;
	color: white;
	text-decoration: none;
	display: block;

}

@media only screen and (max-width: 975px) {
	#smaller img{
		height: 75px;
		width: 75px;

	}

	#smaller{
		right: 50%;
	}
}
@media only screen and (max-width: 900px) {
	#display img {
		width: 250px;
		height: 200px;
	}


}

@media only screen and (max-width: 830px){
	#leftButton{
		left: 4%;
	}

	#rightButton {
		right: 4%;
	}

}

@media only screen and (max-width: 800px) {
	#right{
		clear:both;
		width: 450px;
		margin: 0 auto;

	}

	#header{
		line-height: 100px;
	}
#left{
	margin: 0 auto;
}

	#bio{
		border: 2px solid #5DBAD4;
		height: 300px;
	}

	#thumbGallery {
		overflow: scroll;
	}


	.sideCircle{
	display: none;
	}

	#contactBox{
		background-color: white;
	}
}

@media only screen and (max-width: 800px) {
	.circle {
	width: 90px;
	height: 90px;
	border-radius: 45px;
	line-height: 90px;
}

	.circle:first-child{
		margin-left: 20px;
	}

	#left: {
		margin: 0 auto;
	}

	#contactBox{
		display: none;
	}

}

@media only screen and (max-width: 720px) {
	.circle {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px;
}
}

@media only screen and (max-width: 660px) {
	.circle {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	line-height: 70px;
	font-size: 24px;
}

#display img{
	clear: left;
	left: 20%;
}



#smaller a img {
	margin: 2px;
	
}



#smaller{
	margin-top: 350px;
	width: 300px;
	left: 28%;
}

#videos{
	margin-bottom: 600px;
}

}

@media only screen and (max-width: 600px) {
	.circle{
		margin: 0 15px;
	}

	#bio {
		width: 350px;
	}
}

@media only screen and (max-width: 540px) {
	.circle{
		margin: 0 5px;
	}
	#smaller{
		width: 300px;
		left: 10%;
	}
	#smaller a img{
		margin: 2px 2px;
	}

	#galleryThumbs {
		width: 80%;
	}
}

@media only screen and (max-width: 480px) {

	#player iframe{
		width: 225px;
	}

	#player{
		height: 325px;
	}
	
	#display img{
		left: 0;
		margin-top: 25px;
	}

	#smaller{
		width: 250px;
		margin-top: 275px;
		left: 2%;
	}

	#videos {
		margin-bottom: 550px;
	}

	#videoTitle {
		display: none;
	}

	#pastShows {
		margin-top: 200px;
	}

	#shows{
		margin-bottom: 0;
	}

	#inner h1{
		font-size: 30px;
		line-height: 75px;
	}

	#bio {
		width: 225px;
		font-size: 12px;
	}

	#upcoming {
		left: 5%;
	}

	#upcoming h3{
		font-size: 16px;
	}

	#upcoming ul li{
		font-size: 12px;
	}

	#pastShows{
		margin-top: 120px;
		left: 10%;
	}

	#pastShows h3{
		font-size: 16px;
	}

	#pastShows ul li{
		font-size: 12px;
	}

	#gallery{
		margin-top: 20px;
	}

	#galleryThumbs{
		margin: 30px 0;
		width: 100%;
	}

	#galleryThumbs a img{
		width: 70px;
		height: 70px;
	}


}

