body {
	/*background: url(../img/steps.jpg) no-repeat center center fixed; 
	background-size: cover;*/
}

#sideNav {
	position: fixed;
	left: 20px;
	display: none;
	opacity: .8;

}

.sideCircle:first-child {
	margin-top: 20%;
}

.sideCircle {
	width: 100px;
	height: 20%;
	border-radius: 50px;
	background-color: #5DBAD4;
	color: white;
	text-align: center;
	line-height: 100px;
	font-family: "Dr Sugiyama", cursive;
	font-size: 30px;
	margin-bottom: 50%;
}

#sideNav a{
	color: white;
	text-decoration: none;
	display: block;
}

#sideNav a:hover{
	color: black;
}


#header{
	font-family: "Vast Shadow", cursive;
	color: black;
	font-size: 50px;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 110px;
}

#inner {
	background-color: white;
	opacity: .8;
	width: 780px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 30px;
	border: 5px solid #5DBAD4;
	overflow: hidden;

	
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 100px;
	margin: 0 40px;
	float: left;
	font-family: "Dr Sugiyama", cursive;
	font-size: 30px;
}

.clearfix:after {

     visibility: hidden;
     display: block;
     font-size:0;
     content:" ";
     clear:both;
  	 height: 0;
 }

#topNav {
	width: 720px;
	margin: 10px auto;
}

#topNav a{
	color: white;
	text-decoration: none;
	display: block;
}
#topNav a:hover{
	color: #5DBAD4;
}

#stickyheader {
	width: 780px;
	margin: 0 auto;
	background-color: white;
	height: 100px;
	padding-bottom: 20px;

	
}

#stickyalias {
	display: none;
	height: 10px;
}

#othercontent {
	margin-top: 20px;
}

#left{
	float: left;
}

#fbLikeBox {
	margin: 20px 0 20px 20px;
	height: 70px;
}
#right {
	margin-left: 380px;
}

h2 {
	font-family: "Dr Sugiyama", cursive;
	font-size: 36px;
	margin-bottom: 0;
}


#bio {
	height: 480px;
	overflow: scroll;
	border: 2px solid #5DBAD4;
	font-size: 16px;
	font-family: "Fauna One", serif;
	padding-top: 0;
}

#bio p{
	padding: 0 10px;
}


#videos {
	margin-top: 50px;
	position: relative;
	margin-bottom: 60px;

}


#shows {
	height: 500px;
}

#contact {
	height: 500px;
}

#displayVideo {
	margin: 40px auto;
	width: 560px;
	height: 315px;
	border: 2px solid #5DBAD4
}

#videoTitle {
	height: 60px;
}

#videoTitle h2 {
	font-family: "Fauna One", serif;
	text-align: center;
	font-size: 22px;
}

#leftButton {
	position: absolute;
	left: 80px;
	bottom: 40px;
	opacity: .2;
	cursor: pointer;
	cursor: hand;
}

#rightButton {
	position: absolute;
	right: 90px;
	bottom: 40px;
	opacity: .8;
	cursor: pointer;
	cursor: hand;
}

#thumbGallery {
	width: 545px;
	height: 104px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}


#thumbnails{
	width: 977px;
	position: absolute;
	left: 0;
	
}

.thumb:hover{
	opacity: .8;

}


.thumb {
	width: 100px;
	height: 100px;
	margin-right: 1px;
	border: 2px solid #5DBAD4;
}

.thumb:first-child {
	margin-left: ;
}


.video {
	display: none;
}

#shows {
	height: 400px;
	position: relative;
}

#pastShows h3 {
	font-family: "Fauna One", serif;
	font-size: 18px;

}

#pastShows {
	margin: 0 auto;
	margin-top: 30px;
	position: absolute;
	left: 60px;
}

#pastShows ul li{
	font-family: "Fauna One", serif;
	font-size: 18px;
	line-height: 60px;
	list-style-type: none;
}

#gallery {
	margin: 0 auto;
}

#galleryThumbs {
	width: 60%;
	margin: 30px auto;
}


#galleryThumbs a img {
	margin: 15px auto;
	width: 100px;
	height: 100px;
	border: solid 2px #5DBAD4;
}

#galleryThumbs a img:hover {
	opacity: .4;
}
#footer {
	background-color: black;
	height: 30px;
	width: 850px;
	margin: 0 auto;
	opacity: .8;
	position: relative;
}

#footer a {
	color: white;
	font-family: "Fauna One", serif;
	font-size: 22px;
	position: absolute;
	right: 350px;
	top: 5px;
	text-decoration: none;
	border-bottom: 2px solid white;
}

#footer h4{
	color: #dddddd;
	font-family: "Fauna One", serif;
	font-size: 8px;
	position: absolute;
	right: 5px;
	bottom: 1px;
	text-decoration: none;
}

#contactBox {
	width: 100px;
	height: 60px;
	border-radius: 10px;
	opacity: .8;
	background-color: #5DBAD4;
	position: fixed;
	right: 60px;
	bottom: -60px;
	opacity: .8;
	line-height: 60px;
	text-align: center;
}

#contactBox:hover{
	background-color: black;
	cursor: pointer;
	cursor: hand;
}

#contactBox a {
	font-family: "Fauna One", serif;
	color: white;
	text-decoration: none;
	display: block;

}
