body {
	/*background: url(../img/steps.jpg) no-repeat center center fixed; 
	background-size: cover;*/
}

#sideNav {
	position: fixed;
	right: 92%;
	display: none;
	opacity: .8;

}

.sideCircle:first-child {
	margin-top: 20%;
}

.sideCircle {
	width: 150%;
	height: auto;	
	border-radius: 50%;
	background-color: #5DBAD4;
	color: white;
	text-align: center;
	line-height: 340%;
	font-family: "Dr Sugiyama", cursive;
	font-size: 30px;
	margin-bottom: 50%;
}

#sideNav a{
	color: white;
	text-decoration: none;
	display: block;
}

#sideNav a:hover{
	color: black;
}


#header{
	font-family: "Vast Shadow", cursive;
	color: black;
	font-size: 50px;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 150px;
}

#inner {
	background-color: white;
	opacity: .8;
	width: 70%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 30px;
	border:  solid 5px #5DBAD4;
	overflow: hidden;

	
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 100px;
	margin: 0 25px;
	float: left;
	font-family: "Dr Sugiyama", cursive;
	font-size: 30px;
}

.circle:first-child {
	margin-left: 0px;
}

.circle:last-child{
	margin-right: 0px;
}


.clearfix:after {

     visibility: hidden;
     display: block;
     font-size:0;
     content:" ";
     clear:both;
  	 height: 0;
 }

#topNav {
	width: 550px;
	margin: 40px auto;
}

#topNav a{
	color: white;
	text-decoration: none;
	display: block;
}
#topNav a:hover{
	color: #5DBAD4;
}

#stickyheader {
	width: 780px;
	margin: 0 auto;
	background-color: white;
	height: 100px;
	padding-bottom: 20px;

	
}

#stickyalias {
	display: none;
	height: 10px;
}

#othercontent {
	margin-top: 20px;
}

#left{
	float: left;
}

#fbLikeBox {
	margin: 20px 0 20px 20px;
	height: 70px;
}
#right {
	margin-left: 380px;
}

h2 {
	font-family: "Dr Sugiyama", cursive;
	font-size: 36px;
	margin-bottom: 10px;
}


#bio {
	height: 480px;
	overflow: scroll;
	border: 2px solid #5DBAD4;
	font-size: 16px;
	font-family: "Fauna One", serif;
	padding-top: 15px;
	line-height: 2em;
}

#bio p{
	padding: 0 10px;
}


#videos {
	margin-top: 50px;
	position: relative;
	margin-bottom: 60px;

}


#shows {
	height: 500px;
}

#contact {
	height: 500px;
}

#displayVideo {
	margin: 40px auto;
	width: 560px;
	height: 315px;
	border: 2px solid #5DBAD4
}

#videoTitle {
	height: 60px;
}

#videoTitle h2 {
	font-family: "Fauna One", serif;
	text-align: center;
	font-size: 22px;
}

#leftButton {
	position: absolute;
	left: 15%;
	bottom: 40px;
	opacity: .2;
	cursor: pointer;
	cursor: hand;
}

#rightButton {
	position: absolute;
	right: 15%;
	bottom: 40px;
	opacity: .8;
	cursor: pointer;
	cursor: hand;
}

#thumbGallery {
	width: 420px;
	height: 104px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}


#thumbnails{
	width: 1050px;
	height: 104px;
	position: absolute;
	left: 0;
	
}

.thumb:hover{
	opacity: .8;

}


.thumb {
	width: 100px;
	height: 100px;
	margin-right: 1px;
	/*border: 2px solid #5DBAD4;*/
}

.thumb:first-child {
	margin-left: 0;
}


.video {
	display: none;
}

#shows {
	height: 400px;
	position: relative;
	margin-bottom: 100px;
}

#pastShows h3, #upcoming h3 {
	font-family: "Fauna One", serif;
	font-size: 20px;


}

#upcoming{
	margin: 0 auto;
	margin-top: 30px;
	position: absolute;
	margin-bottom: 30px;
	left: 60px;
}

#pastShows{
	margin: 0 auto;
	margin-top: 150px;
	position: absolute;
	left: 100px;
	}


#pastShows ul li, #upcoming ul li{
	font-family: "Fauna One", serif;
	font-size: 18px;
	line-height: 60px;
	list-style-type: none;
}

#gallery {
	margin: 0 auto;
}

#galleryThumbs {
	width: 60%;
	margin: 30px auto;
}


#galleryThumbs a img {
	margin: 15px auto;
	width: 100px;
	height: 100px;
	border: solid 2px #5DBAD4;
}

#galleryThumbs a img:hover {
	opacity: .4;
}
#footer {
	background-color: black;
	height: 30px;
	width: 70%;
	position: relative;
	margin: 0 auto;
	opacity: .8;
	padding: 0 30px;
	border: 5px solid black;
	
}

#footer a {
	color: white;
	font-family: "Fauna One", serif;
	font-size: 22px;
	position: absolute;
	right: 350px;
	top: 5px;
	text-decoration: none;
	border-bottom: 2px solid white;
}

#footer h4{
	color: #dddddd;
	font-family: "Fauna One", serif;
	font-size: 8px;
	position: absolute;
	right: 5px;
	bottom: 1px;
	text-decoration: none;
}

#contactBox {
	width: 100px;
	height: 60px;
	border-radius: 10px;
	opacity: .8;
	background-color: #5DBAD4;
	position: fixed;
	left: 90%;
	bottom: -60px;
	opacity: .8;
	line-height: 60px;
	text-align: center;
}

#contactBox:hover{
	background-color: black;
	cursor: pointer;
	cursor: hand;
}

#contactBox a {
	font-family: "Fauna One", serif;
	color: white;
	text-decoration: none;
	display: block;

}

@media only screen and (max-width: 830px){
	#leftButton{
		left: 4%;
	}

	#rightButton {
		right: 4%;
	}
}

@media only screen and (max-width: 800px) {
	#right{
		clear:both;
		width: 450px;
		margin: 0 auto;

	}

	#header{
		line-height: 100px;
	}
#left{
	margin: 0 auto;
}

	#bio{
		border: 2px solid #5DBAD4;
		height: 300px;
	}

	#thumbGallery {
		overflow: scroll;
	}
}

@media only screen and (max-width: 768px) {
.sideCircle{
	background-color: white;
}

